{% extends 'base.html' %}

 {% block title%} LOGIN {% endblock %}
 {% block css %}
 .navbar {
 padding: 15px;
 }
 
 svg {
 height: 34px;
 fill: white;
 }
 
 .head {
 background-color: burlywood;
 
 }
 .form-label{
 text-decoration: black;
 }
 .card{
 padding:30px 28px;
 }
 .form-control{
 padding:10px 13px;
 }
 .card-body{
 display:flex;
 justify-content:center;
 }
 .cards{
 margin:0px 14px;
 }
 .container{
 height:550px;
 }
 <!-- {% endblock %} -->
 
 {% block body %}
 {% load static %}
 <div class="container ">
     {% if user.is_authenticated %}
     <div class="card">
         <div class="card-header fw-bold" style="text-align:center">
             User Details
         </div>
         <div class="card-body">
             <div class="cards">
                 <h6 class="card-title">NAME</h6>
                 <p class="card-text">{{user.first_name}} {{user.last_name}}</p>
             </div>
             <div class="cards">
                 <h6 class="card-title">EMAIL</h6>
                 <p class="card-text">{{user.email}}</p>
             </div>
         </div>
     {% endif %}
     <h2 class="fw-bold" STYLE="text-align:center">LOGIN!</h2>
     <hr class="featurette-divider">
     <form action="/login/" method="POST">
         {% csrf_token %}
         <div class="form-group fw-bold my-2">
             <label for="username">Username</label>
             <input type="text" class="form-control my-3" id="username" name="username" placeholder="Enter Your username">
         </div>
         <div class="form-group fw-bold my-2">
             <label for="password">Password</label>
             <input type="password" class="form-control my-3" id="password" name="password" placeholder="Enter Your password">
         </div>
        <center> <button type="submit" class="btn-lg btn-danger my-5">LOGIN</button></center>
     </form>
 </div>
     </div>
 {% endblock %}

